* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border-radius: 0;
  border: 1px solid #000;
  margin: -1px;
  outline: none;
  font-size: 2rem;
  color: #000;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container1 {
  display: grid;
  width: 282px;
  height: 80px;
  border: 1px solid #000;
  margin: -1px;
  background-color: rgb(116, 116, 116);
}

.container2 {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 70px);
}
